body {
	background-color: lightgrey;
	padding: 0;
	margin: 0;
  display: block;
  font-family: "Roboto Mono";
  font-size:1rem;
  background-image: url(/assets/background-image.jpg);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
/*---------------------------meny-----------------------------------
--------------------------------------------------------------------
--------------------------------------------------------------------*/
.header {
  margin: 0;
  padding: 0;
	min-width: 100vw;
	height: 15vh;
	position: absolute;
}
.checkbox {
  position: absolute;
  display:block;
  top: 10px;
  right: 88%;
  width: 35px;
  height: 35px;
  z-index: 1;
  opacity: 0;
}
.menu {
  position: absolute;
  top: 20px;
  right: 90%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  pointer-events: none;
  z-index: 2;

  .line {
    display: block;
    position: relative;
    background-color: black;
    width: 24px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 2px;
    transition: all .2s;
  }
}
.fold-out-menu {
  position: absolute;
  width: 100vw;
  visibility: hidden;
  background-color: rgba(164, 196, 204, 0.55);
    
  ul{
      list-style-type: none;  
      margin-top: 5vh;
      margin-right:70vw;
    }

  a {
    text-decoration: none;
    color: black;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
}
.checkbox:checked + .header .line:nth-child(1){
    transform: rotate(-45deg);
    top: 5px;
}
.checkbox:checked + .header .line:nth-child(2){
  display: none;
}
.checkbox:checked + .header .line:nth-child(3){
  transform: rotate(45deg);
  top: -4px;
}
.checkbox:checked + .header .fold-out-menu{
  visibility: visible;
  top: 0px;
}
/*--------------------------startsida--------------------------------
---------------------------------------------------------------------
---------------------------------------------------------------------*/
.about {
	min-width: 100vw;
	min-height: 100vh;
}
.flex-startpage {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
}
.flex_text_1 {
  top: 50vh;
	width: 50vw;
	height: fit-content;
  
  h1 {
    font-weight: 700;
    font-size: 3rem;
  }
  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
}
.flex_image {
	width: 50vw;
	height: fit-content;
}
.flex-text_2 {
	width: 50vw;
	height: fit-content;
}

.flex_link {
  background-color: rgba(164, 196, 204, 0.55);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  
  h2 {
    font-size: medium;
  }
  a {
    text-decoration: none;
    color:black;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
}
/*-----------------------------cv-sida----------------------------
------------------------------------------------------------------
------------------------------------------------------------------*/
.cv {
	min-width: 100vw;
	min-height: 100vh;
  margin-top:5vh;
}
.grid {
  display: grid;
  min-width: 100vw;
	min-height: 100vh;
	grid-template-areas: "jobb utbildning ovrigt";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px;
	grid-gap: 5px;
}
article {
  font-size: medium;
}
.grid input[type="radio"] {
  opacity:0;
}
.grid label {
  text-align: center;
  transition: all 0.3s;
  padding-bottom:10px;
  font-weight: 700;
}
#jobb + label {
  grid-area: jobb;
  height: fit-content;
  cursor: pointer;
}
#utbildning + label {
  grid-area: utbildning;
  height: fit-content;
  cursor: pointer;
}
#ovrigt + label {
  grid-area: ovrigt;
  height: fit-content;
  cursor: pointer;
}
.jobblista {
  grid-row-start: 2;
  grid-column: 1/4;
  display: block;
  padding-left: 15px;
}
.utbildningslista  {
  grid-row-start: 2;
  grid-column: 1/4;
  display: none;
  padding-left: 15px;
}
.ovrigtlista {
  grid-row-start: 2;
  grid-column: 1/4;
  display: none;
  padding-left: 15px;
}
#jobb:checked + label {
  border: solid 2px darkgrey;
  background-color: grey;
}
#utbildning:checked + label {
  border: solid 2px darkgrey;
  background-color: grey;
}
#ovrigt:checked + label {
  border: solid 2px darkgrey;
  background-color: grey;
}
#utbildning:checked ~ .jobblista {
  display: none;
}
#utbildning:checked ~ .utbildningslista {
  display: block;
}
#ovrigt:checked ~ .jobblista {
  display: none;
}
#ovrigt:checked ~ .ovrigtlista {
  display: block;
}
h3 {
  font-size: medium;
}
aside {
  max-width: 85vw;
  text-align:right;
  margin-right:25px;

  a {
    text-decoration: none;
    color:black;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
}
}
.tooltip {
  position:absolute;
  z-index:1;
  visibility:hidden;
  font-size: smaller;
}
.back-arrow:hover .tooltip {
  visibility: visible;
}


/*--------------------------kontaktsida----------------------------*/
.contact {
  min-height: 100vh;
  min-width: 100vw;
  margin-top:5vh;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
h2 {
    display:flex;
    align-items: center;
    justify-content: center;
  }
.fika::before {
  content: "kaffe?";
    animation: animate infinite 3s;
    padding-left: 10px;
}
    
@keyframes animate {
    
  0% {
    content: "kaffe?";
  }
    
  50% {
    content: "te?";
  }
  
  75% {
    content: "annat?";
  }
}

.email {
  background-color: rgba(164, 196, 204, 0.55);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width:15vw;
  height:fit-content;
  margin-bottom:35vh;
  a {
    text-decoration: none;
    color:black;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }
}
/*------------------------------------footer-------------------------------*/
.footer {
  display:flex;
  justify-content: space-around;
  height:fit-content;
  padding:20px;
}
p {
    font-size:smaller;
  }




